@import url('https://fonts.googleapis.com/css?family=Noto-Sans:400');
@import url('https://fonts.googleapis.com/css?family=Noto-Sans:700');
body {
  font-family: 'Noto Sans';
  background-color: #16181F;
  color: #B4BEC8;
}
h1 {
  color: #B4BEC8;
  font-size: 20px;    
  font-weight: 700;
  background-color: #2D323B;
  border-radius: 6px;
  padding: 6px;
}
h2 {
  color: #B4BEC8;
  font-size: 16px;  
  font-weight: 400;
  background-color: #2D323B;
  border-radius: 4px;
  padding: 6px;  
}
h3 {
  color: #B4BEC8;
  font-size: 12px;  
  font-weight: 400;
}
h4 {
  color: #B4BEC8;
  font-size: 12px;  
  font-weight: 400;
}
img[src*="#center"] {
    display: block;
    margin: 0 auto;
}
img[src*="#center-desktop"] {
    display: block;
    margin: 0 auto;
}
img[src*="#center-mobile"] {
    display: none;
    margin: 0 auto;
}
@media (max-width: 768px) {
img[src*="#center-desktop"] {
    display: none;
    margin: 0 auto;
}
img[src*="#center-mobile"] {
    display: block;
    margin: 0 auto;
}
}
img[src*="#grey"] {
    filter: brightness(70%)
}
th {
    text-align: center;
}
.bs-sidebar .nav > li > a {
    display: block;
    padding: 1px 10px;
    z-index: 1;
}
.col-md-3 {
    max-width:30%;
}
blockquote {              
  background-color: rgb(25,28,31);
  font-style: italic;     
  padding: 12px 12px 1px 12px;
}      

.tabbed-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
}

.tabbed-set > input {
  position: absolute;
  opacity: 0;
}

.tabbed-set > label {
  padding: 0.4em 1em;
  cursor: pointer;
  font-weight: 400;
  font-size: 10pt;
  border-bottom: 2px solid transparent;
  margin-right: 0.5em;
}

.tabbed-set > input:checked + label {
  border-bottom-color: #B4BEC8;
}

.tabbed-content {
  order: 999;
  width: 100%;
  display: none;
}

.tabbed-set > input:checked + label + .tabbed-content {
  display: block;
}